<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconName</key>
	<string>TrashMob</string>
	<key>NSCameraUsageDescription</key>
	<string>This app uses your camera to take before and after pictures of TrashMobs</string>
	<key>NSUserNotificationsUsageDescription</key>
	<string>This app uses notifications to notify you about TrashMobs</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app uses your location to find TrashMobs near you</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
</dict>
</plist>
